
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <style>
/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */



@media  screen and (max-w) {
  
}
</style> -->

<body>

  <div class="main" >

    
    <div class="logo">
      <img [src]="logo" class="logo" alt="ManuMa Pipes logo">
      
    </div>
    
    <div class="topnav" id="myTopnav">
      <a style="display:none;" ></a>
      
      <a class ="nav-button" mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a class ="nav-button" mat-button  routerLink="/products" routerLinkActive="active">Our Products</a>
      <a class ="nav-button" mat-button routerLink="/companyInfo" routerLinkActive="active">Company Brief</a>
      <a class ="nav-button" mat-button routerLink="/contactUs" routerLinkActive="active">Contact Us</a>

  <!-- <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a> -->
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>



<!-- <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script> -->


