<div class="footer">
    <div class="container footer-data1">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="footer-menu1">
                </div>
            </div>
            <div class="col-12 col-sm-6 footer_blurb">
                <div class="footer-menu2">
                    <h1 class="animated anim_fadein fadeInUp header">Get in touch</h1>
                    <ul class="list-unstyled">
                        <li class="add">ManuMa Pipes</li>
                        <li class="add">Shop No. L4, MIDC, Jalgaon-425003, Maharashtra, India</li>
                        <li class="tel"><a href="tel:+91 xxxxx xxxxx">+91 08668778920</a></li>
                        <li class="mail"><a href="mailto:customercare@xyz.com">customercare@xyz.com</a></li>
                    </ul>
                    <ul class="social">
                        <span class="animated anim_fadein fadeInUp"><a href="https://www.facebook.com/xyz/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/800px-Facebook_Logo_%282019%29.png"></a></span>
                        <span class="animated anim_fadein delay01 fadeInUp"><a href="https://www.linkedin.com/company/xyz/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"></a></span>
                        <span class="animated anim_fadein delay02 fadeInUp"><a href="https://www.instagram.com/xyz/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"></a></span>
                            <!--<li class="animated anim_fadein delay03"  target="_blank"><a href="#."><img src="/images/icon-whatsapp.png"></a></li>-->
                        <span class="animated anim_fadein delay04 fadeInUp"><a href="https://twitter.com/xyz?lang=en" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png"></a></span>
                    </ul>
                    <ul> <a href="https://www.vecteezy.com/free-photos" style="color:black">Free Stock photos by Vecteezy</a></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyRight">
        <p>Copyright © 2023 All Rights Reserved  | Design by <a href="http://technosoul.io/">Technosoul</a> </p>
    </div>
</div>
