<!-- <div class="row">
    <div class="product-list">
        <h2 class="product-caption">
            Agriculture Pipes &amp; Fittings</h2>
            <div *ngFor="let product of productArray" class="product-container col-xs-6">
            <app-product-thumbnail [product] = product></app-product-thumbnail>
        </div>
    </div>
    <div class="product-list">
        <h2 class="product-caption">Pluming Pipes</h2>
        <div *ngFor="let product of plumbingProducts" class="product-container col-xs-6">
            <app-product-thumbnail [product] = product></app-product-thumbnail>
        </div>
    </div>
</div> -->
<app-product-detail></app-product-detail>
<!-- <app-footer  class="footer"></app-footer> -->