
<div class="row container">
    <div class="text-container">
        <h2 class ="text">We are leading pipe manufacturer.</h2>
        <h2 class ="text">We manufactured using world-class raw material and technology.</h2>
    </div>    
    <div class="column">
        <div class="card">
          <p><i class="fa fa-user"></i></p>
          <h3 class="counterText">10+</h3>
          <p>Years of Experience</p>
        </div>
      </div>
    
    <div class="column">
      <div class="card">
        <p><i class="fa fa-user"></i></p>
        <h3 class="counterText">11+</h3>
        <p>Distributors</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <p><i class="fa fa-check"></i></p>
        <h3 class="counterText">55+</h3>
        <p>Happy Customers</p>
      </div>
    </div>
</div>  