/* HomeComponent's private CSS styles */
.banner-container {
  margin:10px;
  width: 100%;
  height: 396px;
 }

 .banner-container img {
 
  height: 100%;
  width: 100%;
 }

.product-range-container {
  width:100%
  
}

.product-range-container .product-title{
    width: 100%;
    text-align: center;
}

.product-range-container .product-type{
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.product-range-container img {
  
  height: 400px;
    width: 100%;
}

/*Mat toolbar*/
.example-spacer {
  flex: 1 1 auto;
}

/* product css */

.activity-container {
  margin-left: 10px;
  margin-right: 10px;
}

.media-body {
  background: rgb(34,118,227);
  border: blue;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  height: 80px;
  
}

.media-body, .media-left, .media-right {
  vertical-align: top;
}

.media {
  margin-top: 20px;
}

.product-item {
  margin-left: 20px;
  width: 300px;
}

.product-item-container {
  justify-content: space-evenl;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* shadow effect */
@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
  color: #ffffff;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 30%;
    border-radius: 10PX 10PX 10PX 10PX;
    border-color: red;
    padding: 5px;
    background: #ff2759;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
  color: darkorange; ;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
