<div class="banner-container1">
  <app-carousel></app-carousel>
  <div class="product-range-container"> 
    <h2  class="product-title"> Product range</h2>
    <!-- <div class="flex-row product-item-container">
      <a figure routerLink="/detail/{{pipe.id}}" class="snip1527" *ngFor='let pipe of pipeImage'>
      <div class="image">
        <img [src]="pipe.img" alt="pr-sample23" />
      </div>
      <figcaption>
        <div class="date"><span class="day">Manu</span><span class="month">Ma</span></div>
        <h3 class="heading">{{ pipe.pipeName}}</h3>
        <p>{{ pipe.discription}}</p>
       
      </figcaption>
      <a href="#"></a>
    </a>
    </div> -->
  </div>
  <app-tile-overlay></app-tile-overlay>
  <app-section-counter></app-section-counter>
</div>
